body {
    background: #dcdfde;
}

h1 {
   text-align: center;
   height: 150px;
}
#banner{
    width: 90%;
}
p {
    text-align: center;
    font-size: 20px;
}

#missão{
    color: rgb(83, 43, 226);
}
em strong {
    color: rgba(0, 0, 0, 0);
}

a {
    text-decoration: none ;
    text-decoration:transparent ;
}

a :hover {

    color: rgb(0, 0, 0);
}
header {
    background-color: #424E61;
    color: white;
}
