body {
}

h1 {
   text-align: center;
   height: 150px;
}
#banner{
    width: 90%;
}
p {
    text-align: center;
    font-size: 16px;
    
}

#missão{
    color: rgb(83, 43, 226);
}
strong {
    color: rgba(0, 0, 0, 0);
}

a {
    text-decoration: none ;
    text-decoration:transparent ;
}

a :hover {

    color: rgb(0, 0, 0);
}
.header {
    background-color: #424E61 ;
    color: white ;
}
.cabeçalho-img{
       width: 40% ;
       font-size: x-large ;
       text-align:center;
       text-decoration:transparent ;
}
.f{
        font-size: 10px;

}
.cabeçalho-titulo{
         font-size: x-large;
         text-align: center;
}